<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
</head>

<body>
    <h1>LOGIN</h1>
    <form action="/" method="POST">
        <input type="email" name="email" id="" placeholder="Email">
        <input type="password" name="password" id="" placeholder="Password">
        <button type="submit" name="submit" value="login">SUBMIT</button>
    </form>

    <form action="/" method="POST">
        <button type="submit" name="submit" value="pass">FORGOT</button>
    </form>

    <h1>ADD NEWS</h1>
    <form action="/" method="POST">
        <input type="text" name="headline" placeholder="Headline">
        <input type="text" name="story" placeholder="Story">
        <button type="submit" name="submit" value="add">POST</button>
    </form>


    {% for l in t %}
    <ul>
        <li>{{l}}</li>
    </ul>
    {% endfor%}
</body>


</html>