{% extends "layout.html" %} {% block content %}
<div data-aos="fade-in" class="aos-init aos-animate" style="margin-top: 125px;">
  <div class="Container-sc-1e7uphc-0 bKAWec">
    <div class="box interview-grid-item" style="padding: 20px;">
      <iframe
        width="560"
        height="315"
        src="https://www.youtube.com/embed/h_IhUTfszpA?controls=0&amp;end=10"
        frameborder="0"
        allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture"
        allowfullscreen
      ></iframe>
    </div>
  </div>
</div>
{% endblock content %}
